{% extends "core/layout.html" %}
{% block head %}
{% endblock head %}
{% block title %}
    Post | {{ forum_post.title }}
{% endblock title %}
{% block content %}
    <h1>Post</h1>
    <h2>{{ forum_post.title }}</h2>
    <p>{{ forum_post.content }}</p>
    <h2>Comments</h2>
    {% if user.is_authenticated %}
        <form action="{% url "comments:post" post_id=forum_post.id %}"
              method="post">
            {% csrf_token %}
            <label for="">Leave a comment</label>
            <input type="text" name="content">
            <button>Send</button>
        </form>
    {% endif %}
    <ul>
        {% for comment in comments %}
            {% include "comments/comment.html" %}
        {% endfor %}
    </ul>
{% endblock content %}
