{% extends "core/layout.html" %}
{% block head %}
{% endblock head %}
{% block title %}
    Event | {{ event.title }}
{% endblock title %}
{% block content %}
    <h1>Post</h1>
    <h2>{{ event.title }}</h2>
    <p>{{ event.content }}</p>
    {% if event.image %}<img src="{{ event.image.url }}" alt="event image">{% endif %}
    <div>
        <span>Address: <address>{{ event.get_address }}</address></span>
    </div>
    <h2>Comments</h2>
    {% if user.is_authenticated %}
        <form action="{% url "comments:post" post_id=event.id %}" method="post">
            {% csrf_token %}
            <label for="">Leave a comment</label>
            <input type="text" name="content">
            <button>Send</button>
        </form>
    {% endif %}
    <ul>
        {% for comment in comments %}
            {% include "comments/comment.html" %}
        {% endfor %}
    </ul>
{% endblock content %}
