{% extends "core/layout.html" %}
{% block title %}
    {{ person.username }}
{% endblock title %}
{% block content %}
    <img src="{{ profile.picture.url }}" alt="profile picture">
    <p>{{ person.first_name }} {{ person.last_name }}</p>
    <p>{{ person.username }}</p>
    <p>{{ profile.bio }}</p>
    {% if user == person %}
        <a href="{% url "users:profile_edit" %}">
            <button>Edit Profile</button>
        </a>
        <a href="{% url "users:settings" %}">
            <button>Settings</button>
        </a>
    {% endif %}
{% endblock content %}
